// ==========================================================================
// Grid
// ==========================================================================

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  padding: 0 0.606060606061% 1rem;
}

// Small Only
@media #{$small-only} {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6 {
    width: 100%;
  }
}

// Medium Up
@media #{$medium-up} {
  .grid-1 {
    width: 16.66667%;
  }

  .grid-quarter {
    width: 23.78788%;
  }

  .grid-2 {
    width: 33.33333%;
  }

  .grid-3,
  .grid-half {
    width: 50%;
  }

  .grid-4 {
    width: 66.66667%;
  }

  .grid-5 {
    width: 83.33333%;
  }

  .grid-6,
  .grid-full {
    width: 100%;
  }
}

.row {
  &.collapse {
    padding: 0;
  }
}