// ==========================================================================
// Layout
// ==========================================================================

.site-wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  max-width: 100%;
  min-width: 320px;
}

.container {
  max-width: 100%;
  margin: auto;
  width: 100%;
}

.body{
    @include rem(padding, 30px 15px);
    @include rem(padding-top, 75px);
    float: left;
    width: 100%;
}

.collapse-bottom{
  padding-bottom: $zero-value;
}

.collapse-top{
  padding-top: $zero-value;
}

.collapse-left{
  padding-left: $zero-value;
}

.collapse-right{
  padding-right: $zero-value;
}

.row {
  clear: both;
  @include rem(padding, 16px);
  position: relative;

  &:before,
  &:after {
    content: "";
    display: table;
  }


  &:after {
    clear: both;
  }

  .collapse-left{
    &.col-md-1,
    &.col-md-2,
    &.col-md-3,
    &.col-md-4,
    &.col-md-5,
    &.col-md-6,
    &.col-md-7,
    &.col-md-8,
    &.col-md-9,
    &.col-md-10,
    &.col-md-11,
    &.col-md-12{
      padding-left: 0;
    }
  }

  .collapse-right{
    &.col-md-1,
    &.col-md-2,
    &.col-md-3,
    &.col-md-4,
    &.col-md-5,
    &.col-md-6,
    &.col-md-7,
    &.col-md-8,
    &.col-md-9,
    &.col-md-10,
    &.col-md-11,
    &.col-md-12{
      padding-right: 0;
    }
  }

  .collapse-top{
    &.col-md-1,
    &.col-md-2,
    &.col-md-3,
    &.col-md-4,
    &.col-md-5,
    &.col-md-6,
    &.col-md-7,
    &.col-md-8,
    &.col-md-9,
    &.col-md-10,
    &.col-md-11,
    &.col-md-12{
      padding-top: 0;
    }
  }

  .collapse-bottom{
    &.col-md-1,
    &.col-md-2,
    &.col-md-3,
    &.col-md-4,
    &.col-md-5,
    &.col-md-6,
    &.col-md-7,
    &.col-md-8,
    &.col-md-9,
    &.col-md-10,
    &.col-md-11,
    &.col-md-12{
      padding-bottom: 0;
    }
  }
}

.clear-collapse,
td.clear-collapse{
  padding: 0;
}

.centered {
  float: none;
  margin: auto;
  @include rem(padding, 32px 0);

  // Medium Up
  @media #{$medium-up} {
    @include rem(padding, 48px 0);

    h2, h3, h4 {
      text-align: center;
    }
  }
}

.section-content {
  @media #{$custom-2} {
    width: 100%;
  }
  width: 83.2%;
  float: left;

  .section-inner {
    @media #{$custom-2} {
      padding: 0;
    }
    @include rem(padding, 0 30px);
    @include rem(padding-right, 0);

  }
}

.full-width{
  width: $full-width;
}


// ==========================================================================
//  Positioning
// ==========================================================================

.pull-left{
  float: $pull-left;
}

.pull-right{
  float: $pull-right;
  text-align:$pull-right; ;
}

.align-left{
  text-align:$pull-left;
}

.align-right{
  text-align:$pull-right;
}

.block-section{
  float: $pull-left;
  width: $full-width;
}

.initial-pos{
  position: initial;
}

.relative-pos{
  position: $relative-position;
}

.vertical-middle{
  vertical-align: middle;
}

.absolute-zero{
  position: $absolute-position;
  top:0;

  &.right{
    right: 0;
  }

  &.left{
    left: 0;
  }
}
